<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ca.llamabagel.transpo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name=".TranspoApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Transpo"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.trips.TripsActivity">
        </activity>

        <provider
                android:name="androidx.work.impl.WorkManagerInitializer"
                android:authorities="${applicationId}.workmanager-init"
                android:exported="false"
                tools:node="remove"/>

        <activity android:name=".ui.home.MainActivity">
        </activity> <!-- Use an alias in order to avoid breaking home screen shortcuts when updated from previous version of app. -->
        <activity-alias
                android:name=".app.MainActivity"
                android:targetActivity=".ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
    </application>

</manifest>